<a href="https://colab.research.google.com/github/Sudaiii/Proyecto-ML/blob/main/ML_ProyectoFinal_S1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerias

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# Semana 1: *Obtain*

En esta sección se cargan los datos que se utilizaran a lo largo del proyecto

El dataset utilizado corresponde a **WISDM-AR**, obtenido del siguiente URL: https://www.cis.fordham.edu/wisdm/dataset.php

Siendo mas especifico, el archivo utilizado como dataset es **WISDM_ar_V1.1_raw.txt**

Este contiene 1098209 lineas de datos (sin header), sin embargo, algunas de estas lineas tienen defectos los cuales impiden cargarlos. Debido a esto, a la hora de cargar los archivos, se hace uso del argumento *on_bad_lines="skip"*, que permite omitir estas lineas y asi evitar problemas.

Como se menciono, el archivo utilizado no tiene header, es decir, no tiene nombre para cada una de las columnas. Debido a esto, se utiliza el argumento *header=None*, asi se evita que el programa tome la primera linea de datos como el header. 

La información de que significa cada columna se puede obtener de un archivo que viene junto a los datos: **WISDM_ar_v1.1_raw_about.txt**

Este describe de que tratan los datos, incluyendo los nombres de las columnas. Estos nombres se han agregado al dataset como su nuevo header mediante el argumento *names=[]*.:

In [ ]:
url = "https://drive.google.com/file/d/1Myzc7VaWS_9lpnm9smWMV_eNLPoLlzSL/view?usp=share_link"
url = "https://drive.google.com/uc?id=" + url.split('/')[-2]
wisdm = pd.read_csv(url, 
                    on_bad_lines="skip",
                    header=None,
                    names=["user", "activity", "timestamp", "x-accelerator", "y-accel", "z-accel"],)
wisdm.head()

   user activity       timestamp  x-accelerator    y-accel       z-accel
0    33  Jogging  49105962326000      -0.694638  12.680544   0.50395286;
1    33  Jogging  49106062271000       5.012288  11.264028   0.95342433;
2    33  Jogging  49106112167000       4.903325  10.882658  -0.08172209;
3    33  Jogging  49106222305000      -0.612916  18.496431    3.0237172;
4    33  Jogging  49106332290000      -1.184970  12.108489     7.205164;